<div class="landinguser">
  <div class="ripple"></div>

</div>

</div>

<div class="container">
<div class="row">

  <div class="col s12 m3 l6 push-l3">
    <div class="logincard z-depth-1">
      <div class="loginimage">
        <%= inline_svg("userb.svg", class: 'loginsvg' ) %>

      </div>
      <div class="loginip">
        <%= form_for(current_user, :url => {:controller => 'sessions', :action => 'add_user'}, :method => :post ) do |f| %>
        <div class="row">
          <div class="container">
            <br>

            <div class="input-field col s12">
              <i class="fa fa-envelope prefix"></i>
              <%= f.email_field :email, autofocus: false,data: { :validation => "required email"} %>

              <label for="icon_prefix">Email</label>

            </div>
            <div class="input-field col s12">
              <i class="fa fa-graduation-cap prefix"></i>

               <%= f.text_field :college, :id => "myinput" ,data: { :validation => "required "} ,:placeholder => "College"%>
             </div>
             <div class="input-field col s12">
               <i class="fa fa-phone prefix"></i>
                <%= f.telephone_field :contact, data: { :validation => "required length", :validation_length => "min10"} %>
                <label for="icon_prefix">Contact</label>
              </div>


            <br>
            <div class="actions loginbtn">
              <%= f.submit 'Count me in', :class => 'btn waves-effect waves-light black white-text'%>
            </div>
          </div>
        </div>

        <% end %>
        <br>

      </div>
    </div>

  </div>
</div>
</div>
<section>
<div class="footer valign-wrapper">
  <div class="container valign">
    <h6 style="display:inline;">Designed and built with all the
      <i class="fa fa-heart red-text"></i>
      in the world by @FISAT.</h6>
    <i style="float:right;" class="fa fa-facebook-official fa-2x"></i>
    <h6 style="display:inline;float:right;">Follow us
    </h6>

  </div>
</div>
</section>
