<%= form_for(@programme) do |f| %>
  <!-- <% if @programme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@programme.errors.count, "error") %> prohibited this programme from being saved:</h2>

      <ul>
      <% @programme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> -->
  <div class="col s12">
    <div class="row">

      <div class="input-field col s12">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>

   </div>
   <div class="row">
     <div class="input-field col s4">
       <%= f.label :category %><br>
       <%= f.text_field :category %>
     </div>

     <div class="input-field col s4">
       <%= f.label :branch %><br>
       <%= f.text_field :branch %>
     </div>
     <div class="input-field col s4">
       <%= f.label :duration %><br>
       <%= f.text_field :duration %>
     </div>
  </div>
  <div class="row">

  <div class="input-field col s12">
    <%= f.date_field :start, :id =>'datep', :class => 'datepicker' %>


  </div>
</div>
<div class="row">

  <div class="input-field col s12">
    <%= f.label :summary%><br>
    <%= f.text_area :summary, :class => 'materialize-textarea'%>
  </div>
</div>
<div class="row">

  <div class="input-field col s12">
    <%= f.label :description %><br>
    <%= f.text_area :description , :class => 'materialize-textarea'%>
  </div>
</div>

<div class="row">

  <div class="input-field col s12">
    <%= f.label :rules %><br>
    <%= f.text_area :rules, :class => 'materialize-textarea'%>
  </div>
</div>


<div class="row">

  <div class="input-field col s12">
    <%= f.label :Image %><br>
    <%= f.file_field :event_image, :class => 'materialize-textarea'%>
  </div>
</div>



<div class="row">

  <div class="input-field col s12">
    <%= f.label :gold_sponsor %><br>
    <%= f.text_field :gold_sponsor %>
  </div>
</div>

  <div class="row">

  <div class="input-field col s12">
    <%= f.label :silver_sponsor %><br>
    <%= f.text_field :silver_sponsor %>
  </div>
</div>

  <div class="row">

  <div class="input-field col s12">
    <%= f.label :bronze_sponsor %><br>
    <%= f.text_field :bronze_sponsor %>
  </div>
</div>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn waves-effect waves-light black white-text'  %>
  </div>
</div>


<% end %>
