
<div class="parallax-container">
     <div class="parallax">
       <%= image_tag "bg.jpg" %>
    </div>
</div>
​
<div class="section">
  <div class="abt_info">
    <div class="container">
      <div class="row">
      <div class="col s12 m5 l12">
        <div class="card-panel white">
          <span class="black-text">
            <h3>About</h3>
            <hr>
            <p> What makes FISAT the success that it is?
            Is it our tireless efforts to focus on excellence and doing our best to achieve it? Or our ability in producing students that excel in academics, extra curricular and co-curricular activites?Or our success in producing not only successful engineers, but also respectable members of society? Or having a staff that's dedicated itself to pushing itself to the limit, so that there's a better, more educated future? Or our scenic location, that inspires the students to learn, as well enjoy their college lives? Or is our ability to bring out the best in our students, and provide most of them with jobs by the time they're done with their 4 years? The answer, is all of the above. And THAT is, what makes FISAT the success that we all see today.</p>
​
            <p>There's a new level of awesomeness right at the horizon. And on the 8th and 9th of April in FISAT, is where it's all going to go down. Right at NAUTILUS 2K16! As a brainchild of the smart, hardworking and fun loving students of FISAT, it would be silly to expect anything less than what people have come to expect from us. Nautilus 2k16 is one of the most prestigious techno arts fest around the corner. Coming from the same place which has given birth to talent in arts, music and science, from one of the most rated self-financing college , Nautilus 2k16 is one of the finest events in the state. Yes, welcome to the two day cultural and techno extravaganza.
            </p>
            <h3>Why Sponsor?</h3>
            <hr>
            <p>FISAT is the most rated and sought after private self-financing college in the state. With a majority of students coming from Ernakulam, FISAT's Nautilus is the best event to sponsor. Nautilus 2k13 saw Google Developer Group hosting workshops on Android, Auto Expo nad many other events. With a participation of over 4000 students coming from all across the state, Nautilus 2k13 was rated as one of the finest tech fests of the year. And this year with the theme being 'Make in India', Nautilus 2k16 is coming back to ignite young minds once again.
            </p>
​
​
          </span>
        </div>
      </div>
    </div>
​
  </div>
  </div>
</div>
​
<div class="section">
  <div class="parallax-container">
       <div class="parallax">
         <%= image_tag "bg2.jpg" %>
       </div>
  </div>
​
</div>
​
​
<div class="section">
  <div class="abt_info">
    <div class="container">
      <div class="row">
      <div class="col l4 s12">
        <div class="card-panel white abtcards">
          <span class="black-text">
            <div class="center-align">
              <br>
            <i class="fa fa-calendar fa-5x align-centre"></i>
            <h3>2 DAYS</h3>
​
            </div>
​
            <p>So what's happening this year on 8th and 9th of April? Technical conferences, Talks, Workshops, Competitions, Fun, Expos, Cultural events - the list is endless. So drop out all your plans and get ready to spent two days at the most happening place.<p/>
​
          </span>
        </div>
      </div>
      <div class="col l4 s12">
        <div class="card-panel white abtcards">
          <span class="black-text">
            <div class="center-align">
              <br>
            <i class="fa fa-cogs fa-5x align-centre"></i>
            <h3>30+ Events</h3>
​
            </div>
​
            <p>This tech fest, is brimming with events for the learner, for the gamer, for the competitor, and also for the ones who just want to watch. There's something here for everyone. Dont' miss out because we will be expecting you!<p/>
​
          </span>
          </span>
        </div>
      </div>
      <div class="col l4 s12">
        <div class="card-panel white abtcards">
          <span class="black-text">
            <div class="center-align">
              <br>
            <i class="fa fa-group fa-5x align-centre"></i>
            <h3>4L Worth Prizes</h3>
            </div><br>
​
            <p>Bring out the champ in you and claim the glory. As this year, Nautilus brings you many events to participate and many prizes to be won. Start sharpening your skills and building up your strengths because it's going to be tight.<p/>
​
          </span>
          </span>
        </div>
      </div>
    </div>
​
  </div>
  </div>
</div>