<div class="container" style="margin-top:70px">
  <div class="circlebg z-depth-2">
    <a href="/">
      <i class="fa fa-chevron-left"></i>
    </a>
  </div>
</div>
<div class="container" style="margin-top:105px">
  <div class="row">
    <div class="col s12 l2 creditauth center-align">
      <%= image_tag "credits/users-15.svg" %>

      <h5 >John Thachil</h5>
      <p >( UI/UX Developer )</p>
      <div class="cols s1"><a class="linkicon" style="font-size: 20px;" href="https://www.linkedin.com/in/johnthachil" target="_blank"><i class="fa fa-linkedin"></i></a></div>

    </div>
    <div class="col s12 l2 creditauth center-align">
      <%= image_tag "credits/users-6.svg" %>

      <h5 >Akshay S</h5>
      <p >( Rails Dev )</p>
      <div class="cols s1"><a class="linkicon" style="font-size: 20px;" href="https://in.linkedin.com/in/akshaysasidharan" target="_blank"><i class="fa fa-linkedin"></i></a></div>

    </div>
    <div class="col s12 l2 creditauth center-align">
      <%= image_tag "credits/users-9.svg" %>

      <h5 >Ashish A</h5>
      <p >( Rails Dev )</p>
      <div class="cols s1"><a class="linkicon" style="font-size: 20px;" href="" target="_blank"><i class="fa fa-linkedin"></i></a></div>

    </div>
    <div class="col s12 l2 creditauth center-align">
      <%= image_tag "credits/users-1.svg" %>

      <h5 >Arun P</h5>
      <p >( Architect )</p>
      <div class="cols s1"><a target="_blank" class="linkicon" style="font-size: 20px;" href="https://in.linkedin.com/in/arunpurushothaman"><i class="fa fa-linkedin" target="_blank"></i></a></div>

    </div>
    <div class="col s12 l2 creditauth center-align">
      <%= image_tag "credits/users-13.svg" %>

      <h5 >Sherfin S</h5>
      <p >( iOS )</p>
      <div class="cols s1"><a class="linkicon" style="font-size: 20px;" href="https://in.linkedin.com/in/sherfin-shamsudeen-896b41103" target="_blank"><i class="fa fa-linkedin"></i></a></div>

    </div><div class="col s12 l2 creditauth center-align">
      <%= image_tag "credits/users-10.svg" %>

      <h5 >Aravind M</h5>
      <p >( Android )</p>
      <div class="cols s1"><a class="linkicon" style="font-size: 20px;" href="https://in.linkedin.com/in/aravind-murali-a9605891" target="_blank"><i class="fa fa-linkedin"></i></a></div>

    </div>


  </div>
</div>
<br><br><br>

<section class="creditinfo">
  <div class="container">
    <h2>Credits</h2>
    <ul>
      <li>
        <div>SVG Icons made by
          <a href="http://www.freepik.com" title="Freepik">Freepik</a>
          from
          <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
          is licensed by
          <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div>
      </li>
      <li>Icons from <a href="https://fortawesome.github.io/Font-Awesome/">Font Awesome</a></li>
      <li>CSS Framework By <a href="materializecss.com">Materializecss</a></li>
      <li>Music From <a href="soundcloud.com">SoundCloud</a> by <a href="https://soundcloud.com/govind-s-kumar">Govind S Kumar</a></li>
      <li>Javascript/CSS Library
        <ul style="padding-left:20px;">
          <li> - Text Shadow <a href="http://bigspaceship.github.io/shine.js/">Shine JS</a></li>
          <li> - Animation <a href="https://daneden.github.io/animate.css/">Animate.css</a></li>

        </ul>
      </li>

    </ul>
    <p>The MIT License (MIT)</p>
    <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy,
      modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
    </p>
    <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
    <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
      HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
  </div>

</section>
