<div class="blue darken-2 homebg ">
  <div class="valign-wrapper vhome">
    <%= image_tag "shell.svg",:class => "centre-align homeimg" ,:id =>"shell" %>
    <%= image_tag "homebg.png",:class => "homeimg valign" ,:id =>"stopsound" %>


    </div>

</div>
  <div class="container">

    <div id="visualizer" class="visualizer">

      <canvas id="canva" width="800" height="200"></canvas>

      <audio id="sound" autoplay></audio>

    </div>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <filter id="filter">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 40 -7" result="filter" />
        </filter>
      </defs>

    </svg>


  </div>
</div>
<section>

  <div class="homebg2 ">
    <div class="valign-wrapper vhome">
        <h5 class="collegename">Federal Institute of Science and Technology</h5>


      </div>
  </div>
</section>


<div id="modal2" class="modal ">
  <div class="modal-content">
    <div class="row">
        <div class="col s4">
          <img style="max-width:100%" src="http://orig11.deviantart.net/407f/f/2015/103/2/3/chrome_by_dtafalonso-d67pbhl.png" alt="">
        </div>
        <div class="col s8">
  <h4 style="padding-top:16%;font-weight:100;">Use Chrome Best Experience</h4>
        </div>


    </div>
  </div>

</div>



<div class="footer valign-wrapper"  style="margin-bottom:-65px;position:absolute;">
  <div class="container valign">
    <h6 style="display:inline;">Designed and built with all the
      <i class="fa fa-heart red-text"></i>
      in the world @FISAT.</h6>
    <a href="https://www.facebook.com/nautilus2k16/" target="_blank"><i style="float:right;" class="fa fa-facebook-official fa-2x"></i></a>
    <a href="https://www.instagram.com/nautilus2k16/" target="_blank"><i style="float:right;" class="fa fa-instagram fa-2x"></i></a>

    <h6 style="display:inline;float:right;padding-right:7px;">      <a href="./credit">Credits |</a>
Follow us
    </h6>

  </div>
</div>
