<div class="landing box animate fadeIn">
  <div class="pattern1">
    <div class="ripple"></div>
    <div class="elements">
      <br>
      <br>
      <br>
      <div class="container">
        <h3 class="white-text">Events</h3>
      </div>
    </div>
  </div>
</div>
<br>
<div class="events">
  <div class="row">
    <div class="container ">
      <div class="row">
        <div class="col s12">
          <ul class="tabs transparent white-text">

            <li class="tab col s3"><a class="active" href="#test1">ALL</a></li>
            <li class="tab col s3"><a href="#test8">HIGHLIGHTS</a></li>
            <li class="tab col s3"><a href="#test9">WORKSHOPS</a></li>
            <li class="tab col s3"><a href="#test2">CE</a></li>
            <li class="tab col s3"><a href="#test3">CS</a></li>
            <li class="tab col s3"><a href="#test4">EC</a></li>
            <li class="tab col s3"><a href="#test5">EEE</a></li>
            <li class="tab col s3"><a href="#test6">EI</a></li>
            <li class="tab col s3"><a href="#test7">ME</a></li>

          </ul>
        </div>
        <div id="test1" class="col s12" data-wow-delay="1s">
          <br>

          <% @programmes.each do |programme| %>

          <div class="col s12 m6 l4">

            <div class="card animate fadeIn">
              <div class="card-image ">
                <!-- <img class="activator lazy" src="/assets/<%=programme.name%>.svg" alt="XYZ"> -->
                <%= inline_svg(programme.name, class: 'activator imag' ) %>

              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><%= programme.name %>
                  <i class="fa fa-ellipsis-v right"></i>
                </span>
                <br>
                <%= link_to 'Show', programme %>
              </div>
              <div class="card-reveal">

                <span class="card-title grey-text text-darken-4"><%= programme.name %><i class="fa fa-times right"></i></span>
                <p><strong><%= programme.branch %></strong></p>
                <hr>
                <p><%= programme.summary %></p>


              </div>
            </div>
          </div>
          <% end %>

        </div>
        <div id="test2" class="col s12 wow fadeIn" data-wow-delay="1s">
          <br>
          <% @programmes.each do |programme| %>

          <% if programme.category == 'CE' %>
          <div class="col s12 m6 l4">

            <div class="card animate fadeIn">
              <div class="card-image ">
                <!-- <img class="activator lazy" src="/assets/<%=programme.name%>.svg" alt="XYZ"> -->
                <%= inline_svg(programme.name, class: 'activator imag' ) %>

                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= programme.name %><i class="fa fa-ellipsis-v right"></i></span>
                    <br>    <%= link_to 'Show', programme %>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%= programme.name %><i class="fa fa-times right"></i></span>
                    <p><strong><%= programme.summary %></strong></p>
                <hr>
                <p><%= programme.summary %></p>
                  </div>
                </div>

              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><%= programme.name %>
                  <i class="fa fa-ellipsis-v right"></i>
                </span>
                <br>
                <%= link_to 'Show', programme %>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><%= programme.name %>
                  <i class="fa fa-times right"></i>
                </span>
                <p><%= programme.summary %></p>
                
              </div>
            </div>
          </div>
          <% end %>
          <% end %>

        </div>

        <div id="test3" class="col s12 wow fadeIn" data-wow-delay="1s">
         <br>
          <% @programmes.each do |programme| %>
            <% if programme.branch == 'CS' %>
              <div class="col s12 m6 l4">

                <div class="card animate fadeIn">
                  <div class="card-image ">
                    <!-- <img class="activator lazy" src="/assets/<%=programme.name%>.svg" alt="XYZ"> -->
                    <%= inline_svg(programme.name, class: 'activator imag' ) %>

                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= programme.name %><i class="fa fa-ellipsis-v right"></i></span>
                    <br>    <%= link_to 'Show', programme %>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%= programme.name %><i class="fa fa-times right"></i></span>
                    <p><strong><%= programme.branch %></strong></p>
                <hr>
                <p><%= programme.summary %></p>
                  </div>
                </div>
              </div>
              <% end %>
          <% end %>

        </div>
        <div id="test4" class="col s12 wow fadeIn" data-wow-delay="1s">
          <br>
          <% @programmes.each do |programme| %>
            <% if programme.branch == 'EC' %>
              <div class="col s12 m6 l4">

                <div class="card animate fadeIn">
                  <div class="card-image ">
                    <!-- <img class="activator lazy" src="/assets/<%=programme.name%>.svg" alt="XYZ"> -->
                    <%= inline_svg(programme.name, class: 'activator imag' ) %>

                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= programme.name %><i class="fa fa-ellipsis-v right"></i></span>
                    <br>    <%= link_to 'Show', programme %>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%= programme.name %><i class="fa fa-times right"></i></span>
                    <p><strong><%= programme.branch %></strong></p>
                <hr>
                <p><%= programme.summary %></p>
                  </div>
                </div>
              </div>
              <% end %>
          <% end %>
        </div>
        <div id="test5" class="col s12 wow fadeIn" data-wow-delay="1s">
          <br>
          <% @programmes.each do |programme| %>
            <% if programme.branch == 'EEE' %>
              <div class="col s12 m6 l4">

                <div class="card animate fadeIn">
                  <div class="card-image ">
                    <!-- <img class="activator lazy" src="/assets/<%=programme.name%>.svg" alt="XYZ"> -->
                    <%= inline_svg(programme.name, class: 'activator imag' ) %>

                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= programme.name %><i class="fa fa-ellipsis-v right"></i></span>
                    <br>    <%= link_to 'Show', programme %>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%= programme.name %><i class="fa fa-times right"></i></span>
                      <p><strong><%= programme.branch %></strong></p>
                <hr>
                <p><%= programme.summary %></p>
                  </div>
                </div>
              </div>
              <% end %>
          <% end %>
        </div>
        <div id="test6" class="col s12 wow fadeIn" data-wow-delay="1s">
              <br>
          <% @programmes.each do |programme| %>
            <% if programme.branch == 'EI' %>
              <div class="col s12 m6 l4">

                <div class="card animate fadeIn">
                  <div class="card-image ">
                    <!-- <img class="activator lazy" src="/assets/<%=programme.name%>.svg" alt="XYZ"> -->
                    <%= inline_svg(programme.name, class: 'activator imag' ) %>

                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= programme.name %><i class="fa fa-ellipsis-v right"></i></span>
                    <br>    <%= link_to 'Show', programme %>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%= programme.name %><i class="fa fa-times right"></i></span>
                      <p><strong><%= programme.branch %></strong></p>
                <hr>
                <p><%= programme.summary %></p>
                  </div>
                </div>
              </div>
              <% end %>
          <% end %>
        </div>
        <div id="test7" class="col s12 wow fadeIn" data-wow-delay="1s">
              <br>
          <% @programmes.each do |programme| %>
            <% if programme.branch == 'ME' %>
              <div class="col s12 m6 l4">

                <div class="card animate fadeIn">
                  <div class="card-image ">
                    <!-- <img class="activator lazy" src="/assets/<%=programme.name%>.svg" alt="XYZ"> -->
                    <%= inline_svg(programme.name, class: 'activator imag' ) %>

                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= programme.name %><i class="fa fa-ellipsis-v right"></i></span>
                    <br>    <%= link_to 'Show', programme %>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%= programme.name %><i class="fa fa-times right"></i></span>
                      <p><strong><%= programme.branch %></strong></p>
                <hr>
                <p><%= programme.summary %></p>
                  </div>
                </div>
              </div>
              <% end %>
          <% end %>
        </div>
        <div id="test8" class="col s12 wow fadeIn" data-wow-delay="1s">
           <% @programmes.each do |programme| %>
            <% if programme.category == 'HIGHLIGHT' %>
              <div class="col s12 m6 l4">

                <div class="card animate fadeIn">
                  <div class="card-image ">
                    <!-- <img class="activator lazy" src="/assets/<%=programme.name%>.svg" alt="XYZ"> -->
                    <%= inline_svg(programme.name, class: 'activator imag' ) %>

                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= programme.name %><i class="fa fa-ellipsis-v right"></i></span>
                    <br>    <%= link_to 'Show', programme %>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%= programme.name %><i class="fa fa-times right"></i></span>
                      <p><strong><%= programme.branch %></strong></p>
                <hr>
                <p><%= programme.summary %></p>
                  </div>
                </div>
              </div>
              <% end %>
          <% end %>
        </div>
        <div id="test9" class="col s12 wow fadeIn" data-wow-delay="1s">
          <br>
          <% @programmes.each do |programme| %>
            <% if programme.category == 'WORKSHOP' %>
              <div class="col s12 m6 l4">

                <div class="card animate fadeIn">
                  <div class="card-image ">
                    <!-- <img class="activator lazy" src="/assets/<%=programme.name%>.svg" alt="XYZ"> -->
                    <%= inline_svg(programme.name, class: 'activator imag' ) %>

                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= programme.name %><i class="fa fa-ellipsis-v right"></i></span>
                    <br>    <%= link_to 'Show', programme %>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%= programme.name %><i class="fa fa-times right"></i></span>
                      <p><strong><%= programme.branch %></strong></p>
                <hr>
                <p><%= programme.summary %></p>
                  </div>
                </div>
              </div>
              <% end %>
          <% end %>
        </div>








        <div id="test3" class="col s12 wow fadeIn" data-wow-delay="1s"></div>
        <div id="test4" class="col s12 wow fadeIn" data-wow-delay="1s"></div>

      </div>
    </div>
  </div>
</div>
<div id="modal1" class="modal ">
  <div class="modal-content">
    <ul class="modallist">
      <li class="listmodal"><%= inline_svg("tips/security.svg", class: 'modalimg' ) %>
        <p class="modaltext">New user? Sign up, else simply log in.</p>
      </li>
      <li class="listmodal"><%= inline_svg("tips/click.svg", class: 'modalimg' ) %>
        <p class="modaltext">Register events and if you want to unregister, do them from your ticket.</p>
      </li>
      <li class="listmodal"><%= inline_svg("tips/qr.svg", class: 'modalimg' ) %>
        <p class="modaltext">Make sure you download your ticket! We intend to go paperless. Save tress, Save planet!</p>
      </li>
      <li class="listmodal"><%= inline_svg("tips/hand.svg", class: 'modalimg' ) %>
        <p class="modaltext">That's it you are done. May the force be with you.</p>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
     <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
   </div>
</div>
<div class="footer valign-wrapper animate fadeIn">
  <div class="container valign">
    <h6 style="display:inline;">Designed and built with all the
      <i class="fa fa-heart red-text"></i>
      in the world @FISAT.</h6>
    <a href="https://www.facebook.com/nautilus2k16/" target="_blank"><i style="float:right;" class="fa fa-facebook-official fa-2x"></i></a>
    <a href="https://www.instagram.com/nautilus2k16/" target="_blank"><i style="float:right;" class="fa fa-instagram fa-2x"></i></a>


    <h6 style="display:inline;float:right;padding-right:7px;">      <a href="./credit">Credits |</a>
Follow us
    </h6>

  </div>
</div>
