
<div class="landing1 box animate slideInDown">
    <div class="ripple"></div>

    <div class="elements">
      <br>
      <br>
      <br>
      <div class="container">
        <h3  style="font-weight:100"class="white-text">ADD EVENT</h3>
      </div>
    </div>
  </div>
  <br>
  <div class="events1">
    <div class="container">
      <div class="row">
        <div class="col s12 ">
          <div class="card-panel white animate fadeIn">
            <div class="row">
              <%= render 'form' %>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  

<!-- <%= link_to 'Back', programmes_path %> -->
