<div class="landing box animate fadeIn resultbg">
  <div class="ripple"></div>
  <div class="elements">

    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l3"><%= inline_svg("user.svg", class: 'result_user' ) %></div>
        <div class="col s12 m6 l3 result_header"><h1>1245</h1> <p>PARTICIPANTS</p></div>

      </div>
    </div>
</div>
<div class="resultinfo">
  <div class="container">
    <div class="result_table z-depth-1 white">
      <table class="bordered highlight ">
             <thead>
               <tr>
                   <th data-field="id">NAME</th>
                   <th data-field="name">ITEM NAME</th>
                   <th data-field="price">ITEM PRICE</th>
               </tr>
             </thead>

             <tbody>
               <tr>
                 <td>Alvin</td>
                 <td>Eclair</td>
                 <td>$0.87</td>
               </tr>
               <tr>
                 <td>Alan</td>
                 <td>Jellybean</td>
                 <td>$3.76</td>
               </tr>
               <tr>
                 <td>Alan</td>
                 <td>Jellybean</td>
                 <td>$3.76</td>
               </tr>
               <tr>
                 <td>Alan</td>
                 <td>Jellybean</td>
                 <td>$3.76</td>
               </tr>
               <tr>
                 <td>Alan</td>
                 <td>Jellybean</td>
                 <td>$3.76</td>
               </tr>
               <tr>
                 <td>Jonathan</td>
                 <td>Lollipop</td>
                 <td>$7.00</td>
               </tr>
             </tbody>
           </table>
    </div>
  </div>
</div>

    <section>
      <div class="footer valign-wrapper">
        <div class="container valign">
          <h6 style="display:inline;">Designed and built with all the <i class="fa fa-heart red-text"></i> in the world by @FISAT.</h6>
             <i style="float:right;" class="fa fa-facebook-official fa-2x"></i><h6 style="display:inline;float:right;">Follow us  </h6>


        </div>
      </div>
    </section>
