<div class="landing box animate fadeIn cyan darken-1">
    <div class="ripple"></div>
    <div class="elements">
      <br>
      <br>
      <br>
      <div class="container">
        <h3 class="white-text">Schedule</h3>
      </div>
    </div>
</div>
<br>
<div class="events">
  <div class="row">
    <div class="container ">
      <div class="row">
        <div class="col s12 l3">
          <ul class="tabs transparent white-text">

            <li class="tab col s3"><a class="active" href="#test1">Day 1</a></li>
            <li class="tab col s3"><a href="#test2">Day 2</a></li>


          </ul>
        </div>
        <div id="test1" class="col s12">
          <br>
          <div class="row">
               <div class="col s12 m12">
                 <div class="card-panel cardup white animate fadeInUp">
                   <span class="black-text">
                     <h5 style="color:#455a64;font-weight:300;">April 8</h5>
                     <br>
                     <div class="sperator"></div>
                     <br>
                      <div class="container">
                        <div class="row">
                          <div class="col s6 l3  blue-grey-text"><p>7:00 AM - 9:00 AM</p></div>
                          <div class="col s4 l8 " style="color:#455a64;"><p>Badge pick-up</p></div>
                          <div class="col s6 l3  blue-grey-text"><p>7:00 AM - 9:00 AM</p></div>
                          <div class="col s4 l8 " style="color:#455a64;"><p>Badge pick-up</p></div>
                          <div class="col s6 l3  blue-grey-text"><p>7:00 AM - 9:00 AM</p></div>
                          <div class="col s4 l8 " style="color:#455a64;"><p>Badge pick-up</p></div>
                          <div class="col s6 l3  blue-grey-text"><p>7:00 AM - 9:00 AM</p></div>
                          <div class="col s4 l8 " style="color:#455a64;"><p>Badge pick-up</p></div>
                          <div class="col s6 l3  blue-grey-text"><p>7:00 AM - 9:00 AM</p></div>
                          <div class="col s4 l8 " style="color:#455a64;"><p>Badge pick-up</p></div>
                        </div>
                      </div>
                   </span>
                 </div>
               </div>
             </div>


        </div>
        <div id="test2" class="col s12 wow fadeIn" data-wow-delay="1s">
          <br>
          <div class="row">
               <div class="col s12 m12">
                 <div class="card-panel cardup white animate fadeInUp">
                   <span class="black-text">
                     <h5 style="color:#455a64;font-weight:300;">April 9</h5>
                     <br>
                     <div class="sperator"></div>
                     <br>
                      <div class="container">
                        <div class="row">
                          <div class="col s6 l3  blue-grey-text"><p>7:00 AM - 9:00 AM</p></div>
                          <div class="col s4 l8 " style="color:#455a64;"><p>Badge pick-up</p></div>
                          <div class="col s6 l3  blue-grey-text"><p>7:00 AM - 9:00 AM</p></div>
                          <div class="col s4 l8 " style="color:#455a64;"><p>Badge pick-up</p></div>
                          <div class="col s6 l3  blue-grey-text"><p>7:00 AM - 9:00 AM</p></div>
                          <div class="col s4 l8 " style="color:#455a64;"><p>Badge pick-up</p></div>
                          <div class="col s6 l3  blue-grey-text"><p>7:00 AM - 9:00 AM</p></div>
                          <div class="col s4 l8 " style="color:#455a64;"><p>Badge pick-up</p></div>
                          <div class="col s6 l3  blue-grey-text"><p>7:00 AM - 9:00 AM</p></div>
                          <div class="col s4 l8 " style="color:#455a64;"><p>Badge pick-up</p></div>
                        </div>
                      </div>
                   </span>
                 </div>
               </div>
             </div>



        </div>


      </div>
    </div>
  </div>
</div>

<div class="footer valign-wrapper animate fadeIn">
  <div class="container valign">
    <h6 style="display:inline;">Designed and built with all the
      <i class="fa fa-heart red-text"></i>
      in the world @FISAT.</h6>
    <a href="https://www.facebook.com/nautilus2k16/" target="_blank"><i style="float:right;" class="fa fa-facebook-official fa-2x"></i></a>
    <a href="https://www.instagram.com/nautilus2k16/" target="_blank"><i style="float:right;" class="fa fa-instagram fa-2x"></i></a>


    <h6 style="display:inline;float:right;padding-right:7px;">      <a href="./credit">Credits |</a>
Follow us
    </h6>

  </div>
</div>
