

<div class="landing2 box animate fadeIn"> 
  <div class="pattern">
    <div class="ripple"></div>

    <div class="elements">
      <br>
      <br>
      <br>
      <div class="container">
        <h3 class="black-text" style="font-weight:500;"><%= @programme.name %></h3>
      </div>
    </div>
  </div>
</div>
<br>
<div class="events1">
  <div class="container">
    <div class="row">
      <div class="col s12 ">
        <div class="rectangleshow animate fadeIn valign-wrapper">
          <a href="<%=programmes_path %>" style="color:white;">
            <i class="fa fa-angle-double-left fa-2x"></i>
          </a>
          <p style="margin-left:10px">
            Go back</p>
        </div>

        <div class="card-panel white animate fadeIn">
          <div class="container" id="cont">
            <div class="eventinfo">
              <div class="row">
                <h5 class="eventhead z-depth-1">
                  <i class="fa fa-sticky-note"></i>
                  Description</h5>
                <p style="padding-left:2%;"><%= @programme.description.html_safe %></p>

                <div class="row">
                <% if @programme.head1 != "" %>
                  <h5 class=" " style="padding-left:4%;">
                    CONTACT</h5>

                  <div class="col l7 s12 head1 push-l1 push-s1">
                      <h4> <%= @programme.head1 %></h4>
                      <h5 style="font-weight:100;line-height:2px;"><%= @programme.number1 %></h5>
                      <br>
                  </div>
                  <% if @programme.head2 != "" %>
                  <div class="col l5 s12 head2  push-s1" >
                    <h4>  <%=@programme.head2%></h4>
                    <h5 style="font-weight:100;line-height:2px;"><%=@programme.number2%></h5>
                <br>
                  <% end %>
                <% end %>


                  </div>
                </div>
                <h5 class="eventhead z-depth-1">
                  <i class="fa fa-check"></i>
                  Rules</h5>

                <p><%= @programme.rules.html_safe %></p>

                <h5 class="eventhead z-depth-1">
                  <!-- <i class="fa fa-clock-o"></i> -->
                  <!-- DURATION: <%= @programme.duration %> -->
                  <!-- <hr> -->
                  <i class="fa fa-clock-o"></i> Starts on: <%= @programme.start.strftime("%dth %b %Y (%A) ") %>
                </h5>

              </div>
              <% if @programme.prize %>
              <div class="row">            
                <div class="row awardsdiv">
                  <div class="col s12 l4">
                    <%= inline_svg("class-reward.svg", class: 'awards center-align' ) %>
                      <h5 class="center-align">1st Prize <br>
                      <% if @programme.first_prize != "" %>
                        <%= @programme.first_prize %>
                      <% else %>
                        Yay, first!
                      <% end %>
                      </h5>
                  </div>
                  <div class="col s12 l4">
                    <%= inline_svg("round-medal.svg", class: 'awards center-align' ) %>
                      <h5 class="center-align">2nd Prize <br>                      
                      <% if @programme.second_prize != "" %>
                        <%= @programme.second_prize %>
                      <% else %>
                        Yay, second!
                      <% end %></h5>

                  </div>
                  <div class="col s12 l4">
                    <%= inline_svg("militaty-medal.svg", class: 'awards center-align' ) %>
                      <h5 class="center-align">3rd Prize <br>
                      <% if @programme.third_prize != "" %>
                        <%= @programme.third_prize %>
                      <% else %>
                        Yay, third!
                      <% end %>
                      </h5>

                  </div>
                </div>
              </div>
              <% end %>
         
              <div class="row">
                <h5 class="eventhead z-depth-1">
                  <i class="fa fa-sticky-note"></i>
                  SPONSERS</h5>
                <br>
                <div class="sponbg">

                </div>
              </div>
              <% if @programme.registerable %>

              <div class="row">
                <% if user_signed_in? and @programme.team %>

                <% end  %>           
                <div id="register_ajax">
                  <% if @register%>
                      <a class="waves-effect waves-light btn registerbtn red darken-1 white-text disabled">REGISTERED</a>
                  <%end%>
                  <% if user_signed_in? and not @register%>
                    <%= link_to "REGISTER",programme_path(@event_register),remote: true ,method: :post,class:"waves-effect waves-light btn registerbtn red darken-1 white-text"%>
                  <%end%>
                </div>

              <% if not user_signed_in? %>
              <a class="waves-effect waves-light btn registerbtn red darken-1 white-text disabled">SIGN IN TO REGISTER</a>

              </li>
              <% end %>
              </div>
              <% end %>

            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

</div>
<br>

<section>
  <div class="footer valign-wrapper">
    <div class="container valign">
      <h6 style="display:inline;">Designed and built with all the <i class="fa fa-heart red-text"></i> in the world by @FISAT.</h6>
      <i style="float:right;" class="fa fa-facebook-official fa-2x"></i>
      <h6 style="display:inline;float:right;">Follow us  </h6>


    </div>
  </div>
</section>
