<div class="landinguser animate fadeIn">
  <div class="ripple"></div>

</div>

</div>

<div class="container">
<div class="row">

  <div class="col s12 m3 l6 push-l3">
    <div class="logincard z-depth-1">
      <div class="loginimage">
        <%= inline_svg("userbc1.svg", class: 'loginsvg' ) %>

      </div>
      <div class="loginip">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="row">
          <div class="container">
            <br>

            <div class="input-field col s12">
              <i class="fa fa-user prefix"></i>
              <%= f.text_field :name, autofocus: true,data: { :validation => "required"} %>

              <label for="icon_prefix">Name</label>

            </div>

            <div class="input-field col s12">
              <i class="fa fa-envelope prefix"></i>
              <%= f.email_field :email, autofocus: false,data: { :validation => "required email"} %>

              <label for="icon_prefix">Email</label>

            </div>

            <div class="input-field col s12">
              <i class="fa fa-key prefix"></i>
              <%= f.password_field :password, autocomplete: "on", data: { :validation => "required length", :validation_length => "min8"} %>
              <label for="icon_prefix">Password</label>
            </div>

            <div class="input-field col s12">
              <i class="fa fa-key prefix"></i>

              <%= f.password_field :password_confirmation, autocomplete: "on", data: { :validation => "required length", :validation_length => "min8"} %>
              <label for="icon_prefix">Confirm Password</label>

            </div>
            <div class="input-field col s12">
              <i class="fa fa-graduation-cap prefix"></i>

               <%= f.text_field :college, :id => "myinput" ,data: { :validation => "required "} ,:placeholder => "College"%>
             </div>
             <div class="input-field col s12">
               <i class="fa fa-phone prefix"></i>
                <%= f.telephone_field :contact, data: { :validation => "required length", :validation_length => "min10"} %>
                <label for="icon_prefix">Contact</label>
              </div>

            <br>
          </div>
        </div>


            <div class="row">
              <div class="conainter" style="margin:30px 60px;">
            <div class="actions loginbtn">
              <%= f.submit 'Sign Up', :class => 'btn waves-effect waves-light black white-text'  %>
            </div>
<!--             <div class="loginbtn">
              <a href="/auth/facebook" class="waves-effect waves-light btn blue accent-4 white-text"><i class="fa fa-facebook-official fa-2x"></i> Facebook Log In</a>
            </div>
 -->            </div>
            </div>

        <% end %>
        <br>

      </div>
    </div>

  </div>
</div>
</div>
<section>
<div class="footer valign-wrapper">
  <div class="container valign">
    <h6 style="display:inline;">Designed and built with all the
      <i class="fa fa-heart red-text"></i>
      in the world @FISAT.</h6>
    <a href="https://www.facebook.com/nautilus2k16/" target="_blank"><i style="float:right;" class="fa fa-facebook-official fa-2x"></i></a>
    <a href="https://www.instagram.com/nautilus2k16/" target="_blank"><i style="float:right;" class="fa fa-instagram fa-2x"></i></a>

    <h6 style="display:inline;float:right;padding-right:7px;">      
Follow us
    </h6>

  </div>
</div>
</section>
