/* line 1, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
body {
  background-color: #f5f5f5;
}

/* line 4, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.navhead {
  background-color: #c2185b;
}

/* line 8, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.nav-wrapper {
  background-color: #e91e63;
}

/* line 12, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.landing {
  height: 400px;
  background-color: #455a64;
  z-index: 999;
}

/* line 20, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.logomain {
  width: 150px;
  margin-top: 15px;
}

/* line 24, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
div#page.page {
  margin-top: 30px;
}

/* line 29, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.hidden {
  display: none;
}

/* line 32, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
dropdown-content li > a {
  text-align: center;
}

/* line 35, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
canvas {
  margin-top: -2px;
  position: relative;
}

/* line 39, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.landinghome {
  height: 400px;
  background-color: #d32f2f;
  z-index: 999;
}

/* line 47, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.proshowbg {
  background-color: #d32f2f;
  height: 500px;
}

/* line 51, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
#drumkit {
  width: 50%;
  margin-left: 25%;
}

/* line 55, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.landing1 {
  height: 400px;
  background-color: #311b92;
  z-index: 999;
}

/* line 63, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.landing2 {
  height: 400px;
  background-color: #7cb342;
  z-index: 999;
}

/* line 70, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.landing2 h3 {
  margin-top: 7.5%;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
}

/* line 76, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.landinguser {
  padding-top: 8%;
  height: 400px;
  background-color: #303f9f;
  position: absolute;
  width: 100%;
}

/* line 86, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.events1 {
  width: 100%;
  margin-top: -200px;
  z-index: 100;
}

/* line 92, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.landing h3 {
  padding-left: 2%;
  margin-top: 8%;
  font-weight: 300;
}

/* line 97, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.landing1 h3 {
  padding-left: 2%;
  margin-top: 7.5%;
  font-weight: 300;
}

/* line 102, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.events {
  width: 100%;
  margin-top: -200px;
}

/* line 109, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.box {
  width: 100%;
}

/* line 114, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.ripple {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  height: 100px;
  position: absolute;
  -webkit-transform: scale(0);
  transform: scale(0);
  width: 100px;
}

/* line 124, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.animate {
  -webkit-animation: ripple 0.5s linear;
  animation: ripple 0.5s linear;
}

@-webkit-keyframes ripple {
  100% {
    -webkit-transform: scale(11);
    transform: scale(6);
    background-color: transparent;
  }
}
@keyframes ripple {
  100% {
    -webkit-transform: scale(11);
    transform: scale(5);
    background-color: transparent;
  }
}
/* line 144, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
#modal1 {
  width: 40%;
  height: 90%;
  box-shadow: none;
}

@media only screen and (max-width: 800px) {
  /* line 150, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  #modal1 {
    width: 90%;
    box-shadow: none;
  }
}
/* line 155, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.footer {
  background-color: #fafafa;
  height: 70px;
  z-index: 9999;
  width: 100%;
  bottom: 0;
}

/* line 162, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.footer1 {
  background-color: #fafafa;
  height: 70px;
  z-index: 9999;
  width: 100%;
  bottom: 0;
  position: fixed;
}

/* line 170, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.footer h6 {
  font-weight: 300;
}

/* line 174, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
nav {
  z-index: 999;
}

/* line 179, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
img {
  max-width: 100%;
}

/* line 182, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.card .card-image img {
  width: 67%;
  padding-left: 27%;
  padding-top: 21%;
  padding-bottom: 15%;
}

/* line 189, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
}

/* line 196, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.imag {
  width: 80%;
  padding-left: 24%;
  padding-top: 21%;
  padding-bottom: 15%;
}

/* line 204, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.rectangleshow {
  height: 50px;
  background-color: #2a3a3f;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: white;
  padding-left: 2%;
  font-size: 1.2em;
}

/* line 214, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.pattern {
  background: url(/assets/icons-green-14d748b28bb63fb3229cf765fc1b3a6881c34605bf58e930c9d24eacde3bab73.jpg);
  background-attachment: scroll;
  background-size: 20%;
  height: inherit;
  background-repeat: repeat;
}

/* line 221, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.pattern1 {
  background: url(/assets/icons-asphalt-969f6dfd0cc3b57f673f7dc43e44390fefa87ee1c266ca095fa312664326c0e0.jpg);
  background-attachment: scroll;
  background-size: 17%;
  height: inherit;
  background-repeat: repeat;
}

/* line 230, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.nav-wrapper {
  opacity: 1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
}

/* line 235, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.awards {
  width: 60%;
  margin-left: 20%;
  cursor: pointer;
  padding-top: 20%;
  margin-bottom: -13%;
  padding-left: 10%;
}

/* line 244, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.awardsdiv h5 {
  font-weight: 100;
  text-transform: uppercase;
}

/* line 248, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.break {
  margin-left: 4%;
  margin-right: 6%;
}

/* line 252, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
#cont {
  width: 93%;
}

/* line 255, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.eventhead {
  background-color: #2a3a3f;
  border-radius: 4px;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  color: white;
  font-weight: 100;
}

/* line 268, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.collapsible-header {
  background-color: #2a3a3f;
  color: white;
  border-radius: 4px;
  border-bottom: 1px solid white;
}

/* line 276, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.collapsible-body {
  background-color: #2a3a3f;
  border-radius: 4px;
  border-bottom: 1px solid white;
}

/* line 283, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.collapsible-body p {
  color: white;
}

/* line 287, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.sponbg {
  background-color: rgba(0, 0, 0, 0.1);
  height: 200px;
  border-radius: 4px;
}

@media only screen and (max-width: 800px) {
  /* line 294, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  .eventhead {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }
}
/* line 305, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.form-error {
  color: red;
  padding-left: 15%;
  padding-bottom: 2%;
  font-weight: 300;
}

@media only screen and (max-width: 800px) {
  /* line 312, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  .form-error {
    color: red;
    padding-left: 15%;
    padding-bottom: 2%;
    font-weight: 300;
    font-size: 13px;
  }
}
/* line 321, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.navhead {
  height: 20px;
  width: 100%;
  position: sticky;
}

/* line 327, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.mycolor {
  background-color: #558b2f !important;
}

/* line 332, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.mycolor1 {
  background-color: #33691e !important;
}

/* line 337, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.mainheader {
  z-index: 500;
  position: absolute;
  margin-top: 60px;
  width: 25%;
  margin-left: 40%;
}

/* line 348, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.logincard {
  width: 100%;
  margin-top: 100px;
  background-color: white;
  border-radius: 4px;
}

/* line 354, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.loginimage {
  background-size: cover;
  height: 200px;
  width: 100%;
  padding-top: 46px;
}

/* line 362, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.slideuser {
  width: 100%;
  margin-left: -16px;
  padding-top: 30px;
}

/* line 370, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.loginsvg {
  width: 30%;
  position: relative;
  padding: 0 0;
  margin-left: 35%;
}

/* line 378, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.loginbtn .btn {
  margin-top: 20px;
  width: 100%;
  margin-top: 30px;
  position: static;
}

@media only screen and (min-width: 993px) {
  /* line 386, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  #toast-container {
    top: 15%;
    right: 2%;
    max-width: 86%;
  }
}
/* line 394, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.result_table {
  border-radius: 6px;
}

/* line 399, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
th, thead {
  padding-top: 90px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #3d82e8;
  color: #eceff1;
  font-weight: 500;
  letter-spacing: 1px;
}

/* line 410, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.resultcardbg {
  background-color: #3d82e8;
}

/* line 414, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
table {
  text-indent: 5px;
}

/* line 417, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
tr {
  color: #455a64;
  font-weight: 500;
}

/* line 421, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
tr:last-child {
  border-bottom: none;
}

/* line 425, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.resultbg {
  background-color: #084ec0;
}

/* line 428, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.resultinfo {
  margin-top: 5.8%;
  margin-bottom: 10%;
}

/* line 433, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.result_user {
  width: 100%;
  margin-left: 40px;
  margin-top: 20px;
}

/* line 439, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.result_header {
  color: white;
  font-weight: 100;
  line-height: 1px;
}

/* line 444, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.result_header h1 {
  margin-bottom: 3px;
}

/* line 447, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.result_header p {
  text-indent: 10px;
}

@media only screen and (max-width: 800px) {
  /* line 454, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  .result_user {
    width: 100%;
    margin-left: 10px;
    margin-top: 20px;
  }

  /* line 459, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  .result_header h1 {
    text-align: center;
  }

  /* line 462, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  .result_header p {
    text-align: center;
  }

  /* line 465, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  th, thead {
    padding-top: 20px;
  }

  /* line 470, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  .loginsvg {
    width: 40%;
    position: relative;
    padding: 0 0;
    margin-top: -20px;
    margin-left: 30%;
  }
}
/* line 480, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.abt_info {
  margin-top: -10%;
}
/* line 482, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.abt_info h3 {
  font-weight: 100;
}
/* line 485, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.abt_info .info_count {
  padding-top: 49px;
}

/* line 490, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.registerbtn {
  width: 100%;
}

/* line 493, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.fa-facebook-official {
  padding-left: 8px;
  transition: all .2s ease-in-out;
}

/* line 498, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.fa-facebook-official:hover {
  color: #2962ff;
  transition: all .2s ease-in-out;
}

/* line 503, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.user_slide {
  height: 200px;
  width: inherit;
}

/* line 508, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.side-nav {
  z-index: 999;
}

/* line 517, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
[hidden] {
  display: none;
}

/* line 519, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/* line 528, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
div.awesomplete > input {
  width: 300px;
}

/* line 532, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
div.awesomplete > ul {
  position: absolute;
  z-index: 99;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  border-radius: .1em;
  margin: .2em 0 0;
  background: rgba(255, 255, 255, 0.9);
  background: linear-gradient(to bottom right, white, white);
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  text-shadow: none;
}

/* line 547, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
  display: none;
}

@supports (transform: scale(0)) {
  /* line 553, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  div.awesomplete > ul {
    transition: 0.3s cubic-bezier(0.4, 0.2, 0.5, 1.4);
    transform-origin: 1.43em -.43em;
  }

  /* line 558, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  div.awesomplete > ul[hidden],
  div.awesomplete > ul:empty {
    opacity: 0;
    transform: scale(0);
    display: block;
    transition-timing-function: ease;
  }
}
/* Pointer */
/* line 568, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
div.awesomplete > ul:before {
  content: "";
  position: absolute;
  top: -.43em;
  left: 1em;
  width: 0;
  height: 0;
  padding: .4em;
  background: white;
  border: inherit;
  border-right: 0;
  border-bottom: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 583, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
div.awesomplete > ul > li {
  position: relative;
  padding: .2em .5em;
  cursor: pointer;
}

/* line 589, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
div.awesomplete > ul > li:hover {
  background: #b8d3e0;
  color: black;
}

/* line 594, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
div.awesomplete > ul > li[aria-selected="true"] {
  background: #3d6d8f;
  color: white;
}

/* line 599, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
div.awesomplete mark {
  font-weight: 700;
}

/* line 603, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
div.awesomplete li:hover mark {
  background: #d9d9d9;
}

/* line 607, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
div.awesomplete li[aria-selected="true"] mark {
  background: #3d6b00;
  color: inherit;
}

/* line 613, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
#myinput {
  margin-left: 44px;
  padding-left: 4px;
  width: 85%;
}

@media only screen and (max-width: 800px) {
  /* line 619, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  div.awesomplete > input {
    width: 360px;
  }

  /* line 623, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  #myinput {
    width: 83%;
  }
}
/* line 629, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
#user_name {
  text-transform: uppercase;
}

/* line 639, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 999;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
}

/* line 652, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
#nprogress .spinner-icon {
  margin: 0 auto;
  margin-top: 25%;
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border: solid 9px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 80%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

/* line 669, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

/* line 674, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.nprogress-custom-parent #nprogress .spinner {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 687, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.ticketbg {
  background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
  height: 1000px;
  width: 100%;
  position: absolute;
}

/* line 692, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
#qr {
  padding-left: 20px;
}

/* line 695, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.eventdel {
  padding-left: 10px;
}

/* line 698, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
#qrtext {
  padding-left: 80px;
  padding-top: 10px;
}

/* line 702, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.ticinfo {
  margin-top: -20px;
}

@media only screen and (max-width: 800px) {
  /* line 707, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  #qr {
    padding-left: 1px;
    width: 20%;
  }

  /* line 711, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  #qrtext {
    padding-left: 10px;
    padding-right: 50px;
  }
}
/* line 718, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.ticketissue {
  font-weight: 700;
  margin-top: -10px;
}

/* line 722, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.iconfisatloc {
  padding-left: 250px;
}

@media only screen and (max-width: 800px) {
  /* line 728, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  .iconfisatloc {
    padding-left: 60px;
  }

  /* line 731, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  #ticketname {
    font-size: 30px;
  }
}
/* line 735, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.tourdiv {
  width: 100%;
  margin: 0 auto;
  list-style: none;
  display: inline;
}

/* line 743, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.tour {
  width: 10%;
  margin-right: 2%;
  display: inline-block;
  margin: 0 auto;
}

/* line 748, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.tourtext {
  display: inline;
  padding-top: 0px;
}
/* line 751, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.tourtext p {
  text-align: center;
  display: inline-block;
  margin-top: -100px;
}

/* line 764, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.visualizer {
  position: absolute;
  width: 52%;
  height: 200px;
  margin-left: 23%;
  bottom: 34%;
  left: 0px;
  overflow: hidden;
  background: linear-gradient(to bottom, transparent 98%, white 96%, white 100%);
  cursor: pointer;
  z-index: 3px;
}

/* line 777, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.visualizer img {
  width: 100%;
  margin-top: 5%;
}

/* line 782, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.visualizer canvas {
  position: absolute;
  bottom: 0;
  opacity: 0.8;
}

@media only screen and (max-width: 1000px) {
  /* line 791, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  .visualizer {
    position: absolute;
    width: 100%;
    height: 200px;
    margin: auto;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    background-color: transparent;
  }

  /* line 801, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  .visualizer img {
    width: 100%;
    margin-bottom: 30%;
  }
}
/* line 811, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.modallist li {
  border-bottom: 1px solid grey;
  padding-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 818, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.modallist li:first-child {
  padding-top: 0px;
}
/* line 822, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.modallist li:last-child {
  border-bottom: none;
}
/* line 824, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.modallist li:last-child p {
  padding-top: 30px;
}

@media only screen and (max-width: 800px) {
  /* line 832, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  .modallist li {
    border-bottom: 1px solid grey;
    padding-top: 0px;
    padding-bottom: 30px;
  }
  /* line 838, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  .modallist li:first-child {
    padding-top: 0px;
  }
  /* line 842, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  .modallist li:last-child {
    border-bottom: none;
  }
  /* line 844, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  .modallist li:last-child p {
    padding-top: 10px;
  }

  /* line 850, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  .modalimg {
    width: 18%;
    margin-top: 6%;
  }
}
/* line 861, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.modalimg {
  width: 18%;
}

/* line 864, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.modaltext {
  width: 60%;
  display: initial;
  position: absolute;
  padding-top: 2%;
  margin-left: 4%;
}

/* line 873, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.creditauth h4 {
  font-weight: 100;
  text-align: center;
}
/* line 877, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.creditauth h5 {
  text-align: center;
}
/* line 881, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.creditauth a {
  font-size: 3.5em;
  text-decoration: none;
  color: #37474f;
}

/* line 888, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.creditinfo {
  padding-top: 30px;
  background-color: #FF4136;
  color: #001F3F;
  width: 100%;
  padding-bottom: 100px;
}
/* line 894, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.creditinfo h2 {
  border-bottom: 2px solid #001F3F;
  padding-bottom: 10px;
}
/* line 898, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.creditinfo a {
  color: #001F3F;
  text-decoration: underline;
}

/* line 905, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.circlebg {
  background-color: #001F3F;
  width: 70px;
  height: 70px;
  border-radius: 55px;
}
/* line 910, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.circlebg a {
  position: absolute;
  font-size: 2.5em;
  text-align: center;
  padding-top: 7px;
  padding-left: 16px;
  transition: all .1s ease-in;
  color: white;
}
/* line 920, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.circlebg a:hover {
  color: #FF4136;
  transition: all .1s ease-in;
}

/* line 927, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.toast {
  background-color: white;
  color: black;
}

/* line 931, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
#shell {
  position: absolute;
  width: 14%;
  z-index: 10;
  margin-left: 40%;
  margin-top: 7%;
}

@media only screen and (max-width: 800px) {
  /* line 940, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  #shell {
    position: absolute;
    width: 34%;
    z-index: 10;
    margin-left: 120px;
    margin-top: 100px;
  }
}
/* line 951, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.sperator {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
}

/* line 955, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.cardup {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 1s;
}

/* line 962, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.homebg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  left: 0;
}

/* line 966, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.vhome {
  width: 100%;
  height: inherit;
}

/* line 970, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.homeimg {
  margin: 0 auto;
  -webkit-filter: drop-shadow(1px 2px 2px);
  z-index: 10;
  cursor: pointer;
}

/* line 976, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.homebg2 {
  position: absolute;
  width: 100%;
}

/* line 980, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.collegename {
  color: white;
  width: 100%;
  text-transform: uppercase;
  margin-top: 20%;
  text-align: center;
  letter-spacing: 4px;
}

@media only screen and (max-width: 800px) {
  /* line 992, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  .homeimg {
    margin-left: 5%;
    width: 90%;
    margin-top: 5%;
  }

  /* line 997, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
  .collegename {
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 43%;
  }
}
/* line 1007, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.fa-instagram {
  color: black;
  transition: all .2s ease-in-out;
}

/* line 1013, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.fa-instagram:hover {
  color: #743C08;
  transition: all .2s ease-in-out;
}

/* line 1018, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.abtcards {
  min-height: 480px;
}

/* line 1023, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.head1 {
  border-left: 2px solid black;
}

/* line 1026, /home/akshay/Desktop/Nautilus/nautilus-website/app/assets/stylesheets/main.css.scss */
.head2 {
  border-left: 2px solid black;
}
