<div id="register_ajax">
  <% if user_signed_in? %>
  	<% if @register %>
    	<a class="waves-effect waves-light btn registerbtn red darken-1 white-text disabled">REGISTERED</a>
    <%end%>
  <%end%>
</div>