<div id="registered_events">
<div class="col l9">
                  <ol style="color:#424242">
                    <%@registered_events.each do |event|%>
                      <li><%=event.name%><%=link_to'Unregister',programme_path(event),remote: true ,method: :delete,data: { confirm: 'Are you sure?'}%></li>
                    <%end%>
                    </div>
                  </ol>
                </div>
              </div>