/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";
 $nprogress-color: #E4F9F5;
 $nprogress-height: 5px;
 $nprogress-zindex: 10100;

 @import 'nprogress';
 @import 'nprogress-bootstrap';


#qr td {
  border-left: solid #000;
  border-width: 10px;
  padding: 0;
  height: 10px;
}

#qr td.black { border-color: #424242; }
#qr td.white { border-color: #fff; }

.brand-logo{
  letter-spacing: 3px;
}
