body{
  background-color: #f5f5f5;
}
.navhead{
  background-color: #c2185b;

}
.nav-wrapper{
  background-color: #e91e63;
}

.landing{
  height: 400px;
  background-color: #455a64;

  z-index: 999;


}
.logomain{
  width: 150px;
  margin-top: 15px;
}
div#page.page{

  margin-top: 30px;

}
.hidden{
  display: none;
}
dropdown-content li > a{
  text-align: center;
}
canvas {
  margin-top: -2px;
  position: relative;
}
.landinghome{
  height: 400px;
  background-color: #d32f2f;

  z-index: 999;


}
.proshowbg{
  background-color: #d32f2f;
  height: 500px;
}
#drumkit{
  width: 50%;
  margin-left:25%;
}
.landing1{
  height: 400px;
  background-color: #311b92;

  z-index: 999;


}
.landing2{
  height: 400px;
  background-color: #7cb342;
  z-index: 999;


}
.landing2 h3{
  margin-top: 7.5%;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
}
.landinguser{
  padding-top: 8%;
  height: 400px;
  background-color: #303f9f;
  position:absolute;
  width: 100%;



}
.events1{
  width: 100%;
  margin-top: -200px;
  z-index: 100;
}

.landing h3{
  padding-left: 2%;
  margin-top: 8%;
  font-weight: 300;
}
.landing1 h3{
  padding-left: 2%;
  margin-top: 7.5%;
  font-weight: 300;
}
.events{
  width: 100%;
  margin-top: -200px;
}



.box {

    width: 100%;
}

.ripple {
    background-color: rgba(255,255,255, 0.5);
    border-radius: 100%;
    height: 100px;
    position: absolute;
    -webkit-transform: scale(0);
    transform: scale(0);
    width: 100px;
}

.animate {
    -webkit-animation: ripple 0.5s linear;
            animation: ripple 0.5s linear;
}

@-webkit-keyframes ripple {
    100% {
        -webkit-transform: scale(11);
        transform: scale(6);
        background-color: transparent;
    }
}

@keyframes ripple {
    100% {
        -webkit-transform: scale(11);
        transform: scale(5);
        background-color: transparent;
    }
}
#modal1{
  width: 40%;
  height: 90%;
  box-shadow: none;
}
@media only screen and (max-width: 800px) {
  #modal1{
    width: 90%;
    box-shadow: none;
  }
}
.footer{
  background-color: #fafafa;
  height: 70px;
  z-index: 9999;
  width: 100%;
  bottom: 0;
}
.footer1{
  background-color: #fafafa;
  height: 70px;
  z-index: 9999;
  width: 100%;
  bottom: 0;
  position:fixed;
}
.footer h6{
  font-weight: 300;

}
nav{
  z-index: 999;


}
img{
  max-width: 100%;
}
.card .card-image img{
  width: 67%;
  padding-left: 27%;
    padding-top: 21%;
    padding-bottom: 15%;
}

.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;

}

.imag{
  width: 80%;
  padding-left: 24%;
    padding-top: 21%;
    padding-bottom: 15%;

}

.rectangleshow{
  height: 50px;
  background-color: #2a3a3f;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: white;
  padding-left: 2%;
  font-size: 1.2em;
}

.pattern {
  background: image-url("icons-green.jpg");
  background-attachment: scroll;
  background-size: 20%;
  height: inherit;
  background-repeat: repeat;
}
.pattern1 {
  background: image-url("icons-asphalt.jpg");
  background-attachment: scroll;
  background-size: 17%;
  height: inherit;
  background-repeat: repeat;
}


.nav-wrapper {
    opacity:1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
z-index: 999;
}
.awards{
  width: 60%;
  margin-left: 20%;
  cursor: pointer;
  padding-top:20%;
  margin-bottom: -13%;
  padding-left: 10%;
}

.awardsdiv h5{
  font-weight: 100;
  text-transform: uppercase;
}
.break{
  margin-left: 4%;
  margin-right: 6%;
}
#cont{
  width: 93%;
}
.eventhead{
  background-color: #2a3a3f;
  border-radius: 4px;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 1.5%;
  padding-right: 1.5%;

  color: white;
  font-weight: 100;


}
.collapsible-header{
  background-color: #2a3a3f;
  color: white;
  border-radius: 4px;
  border-bottom: 1px solid white;

}

.collapsible-body{
  background-color: #2a3a3f;
  border-radius: 4px;
  border-bottom: 1px solid white;


}
.collapsible-body p{
  color: white;

}
.sponbg{
  background-color: rgba(0, 0, 0, 0.1 );
  height: 200px;
  border-radius: 4px;
}

@media only screen and (max-width: 800px) {
  .eventhead{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;




  }
}

.form-error{
  color: red;
  padding-left: 15%;
  padding-bottom: 2%;
  font-weight: 300;
}
@media only screen and (max-width: 800px) {
  .form-error{
    color: red;
    padding-left: 15%;
    padding-bottom: 2%;
    font-weight: 300;
    font-size: 13px;

  }
}
.navhead{
  height: 20px;
  width: 100%;
  position: sticky;
}

.mycolor{
  background-color: #558b2f !important;
}


.mycolor1{
  background-color: #33691e !important;

}

.mainheader{
  z-index: 500;
  position:absolute;
  margin-top:60px;
  width: 25%;
  margin-left:40%;
}
@media only screen and (max-width: 800px) {


}
.logincard{
  width: 100%;
  margin-top: 100px;
  background-color: white;
  border-radius: 4px;
}
.loginimage{
  background-size: cover;
  height: 200px;
  width: 100%;
  padding-top: 46px;


}
.slideuser{
  width: 100%;
  margin-left: -16px;
  padding-top: 30px;


}

.loginsvg{
  width: 30%;
  position: relative;
  padding: 0 0;
  margin-left: 35%;
}


.loginbtn .btn{
  margin-top: 20px;
  width: 100%;
  margin-top: 30px;
  position: static;
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: 15%;
    right: 2%;
    max-width: 86%;
  }

}

.result_table{
  border-radius: 6px;
}


th,thead{
  padding-top: 90px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color:rgb(61,130,232);
  color: #eceff1;
  font-weight: 500;
  letter-spacing: 1px;


}
.resultcardbg{
  background-color:rgb(61,130,232);

}
table{
  text-indent: 5px;
}
tr{
  color: #455a64;
  font-weight: 500;
}
tr:last-child{
  border-bottom: none;
}

.resultbg {
  background-color: rgb(8,78,192);
}
.resultinfo{
  margin-top: 5.8%;
  margin-bottom: 10%;
}

.result_user{
  width: 100%;
  margin-left: 40px;
  margin-top: 20px;
}

.result_header{
  color:white;
  font-weight:100;
  line-height: 1px;
}
.result_header h1{
  margin-bottom: 3px;
}
.result_header p{
  text-indent: 10px;
}
.logincard{

}
@media only screen and (max-width: 800px) {
  .result_user{
    width: 100%;
    margin-left: 10px;
    margin-top: 20px;
  }
  .result_header h1{
    text-align: center;
    }
  .result_header p{
      text-align: center;
    }
  th,thead{
      padding-top: 20px;


    }
    .loginsvg{
      width: 40%;
      position: relative;
      padding: 0 0;
      margin-top: -20px;
      margin-left: 30%;
    }


}
.abt_info {
  margin-top: -10%;
  h3{
    font-weight: 100;
  }
  .info_count{
    padding-top: 49px;
  }
}

.registerbtn{
  width: 100%;
}
.fa-facebook-official{
  padding-left: 8px;
  transition: all .2s ease-in-out;

}
.fa-facebook-official:hover{
  color: #2962ff;
  transition: all .2s ease-in-out;

}
.user_slide{
  height: 200px;
  width: inherit;
}

.side-nav{
  z-index: 999;
}






[hidden] { display: none; }

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

div.awesomplete {

}

div.awesomplete > input {
  width: 300px;
}

div.awesomplete > ul {
  position: absolute;
  z-index: 99;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  border-radius: .1em;
  margin: .2em 0 0;
  background: hsla(0,0%,100%,.9);
  background: linear-gradient(to bottom right, white, hsla(0,0%,100%,1));
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  text-shadow: none;
}

div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
  display: none;
}

@supports (transform: scale(0)) {
  div.awesomplete > ul {
    transition: .3s cubic-bezier(.4,.2,.5,1.4);
    transform-origin: 1.43em -.43em;
  }

  div.awesomplete > ul[hidden],
  div.awesomplete > ul:empty {
    opacity: 0;
    transform: scale(0);
    display: block;
    transition-timing-function: ease;
  }
}

  /* Pointer */
  div.awesomplete > ul:before {
    content: "";
    position: absolute;
    top: -.43em;
    left: 1em;
    width: 0; height: 0;
    padding: .4em;
    background: white;
    border: inherit;
    border-right: 0;
    border-bottom: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  div.awesomplete > ul > li {
    position: relative;
    padding: .2em .5em;
    cursor: pointer;
  }

  div.awesomplete > ul > li:hover {
    background: hsl(200, 40%, 80%);
    color: black;
  }

  div.awesomplete > ul > li[aria-selected="true"] {
    background: hsl(205, 40%, 40%);
    color: white;
  }

    div.awesomplete mark {
      font-weight: 700;
    }

    div.awesomplete li:hover mark {
      background: #d9d9d9;
    }

    div.awesomplete li[aria-selected="true"] mark {
      background: hsl(86, 100%, 21%);
      color: inherit;
    }


#myinput{
  margin-left: 44px;
  padding-left: 4px;
  width: 85%;
}
@media only screen and (max-width: 800px) {
  div.awesomplete > input {
    width: 360px;
  }

  #myinput{

    width: 83%;
  }

}
#user_name{
  text-transform: uppercase;
}


$nprogress-color: #29d !default;
$nprogress-height: 2px !default;
$nprogress-zindex: 999 !default;


#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: $nprogress-zindex;
  background-color: white;
  width: 100%;
  height: 100%;
  top:0px;
  right: 0px;


}

#nprogress .spinner-icon {
  margin: 0 auto;
  margin-top: 25%;
  height: 100px;
  width:100px;
  box-sizing: border-box;

  border: solid 9px transparent;

  border-top-color: $nprogress-color;
  border-left-color: $nprogress-color;
  border-radius: 80%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
{
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.ticketbg{
background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);  height:1000px;
  width: 100%;
  position: absolute;
}
#qr{
  padding-left: 20px;
}
.eventdel{
  padding-left: 10px;
}
#qrtext{
  padding-left: 80px;
  padding-top: 10px;
}
.ticinfo{
  margin-top: -20px;
}

@media only screen and (max-width: 800px) {
  #qr{
    padding-left: 1px;
    width: 20%;
  }
  #qrtext{
    padding-left: 10px;
    padding-right: 50px;
  }
}


.ticketissue{
  font-weight: 700;
  margin-top: -10px;
}
.iconfisatloc{
  padding-left: 250px;
}


@media only screen and (max-width: 800px) {
  .iconfisatloc{
    padding-left: 60px;
  }
  #ticketname{
    font-size: 30px;
  }
}
.tourdiv{
  width: 100%;
  margin: 0 auto;
  list-style:none;
  display: inline;


}
.tour{
  width: 10%;
  margin-right: 2%;
display: inline-block; margin: 0 auto;
}
.tourtext{
  display: inline;
padding-top: 0px;
  p{
    text-align: center;
    display: inline-block;
    margin-top: -100px;

  }
}






.visualizer {
  position: absolute;
  width: 52%;
  height: 200px;
  margin-left: 23%;
  bottom: 34%;
  left: 0px;
  overflow: hidden;
background: linear-gradient(to bottom, transparent 98%, rgba(255,255,255,1) 96%, rgba(255,255,255,1) 100%);
  cursor: pointer;
  z-index: 3px;
}

.visualizer img {
  width: 100%;
  margin-top: 5%;
}

.visualizer canvas {
  position: absolute;
  bottom: 0;
  opacity: 0.8;
  // -webkit-filter: blur(1px);
}

@media only screen and (max-width: 1000px) {

  .visualizer {
    position: absolute;
    width: 100%;
    height: 200px;
    margin: auto;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    background-color:transparent;
  }
  .visualizer img {
    width: 100%;
    margin-bottom: 30%;
  }



}

.modallist{
  li{
    border-bottom: 1px solid grey;
    padding-top: 20px;
    padding-top: 20px;
padding-bottom: 20px;

  }
  li:first-child{
    padding-top: 0px;

  }
  li:last-child{
    border-bottom:none;
    p{
      padding-top: 30px;
    }

  }
}
@media only screen and (max-width: 800px) {
  .modallist{
    li{
      border-bottom: 1px solid grey;
      padding-top: 0px;
  padding-bottom: 30px;

    }
    li:first-child{
      padding-top: 0px;

    }
    li:last-child{
      border-bottom:none;
      p{
        padding-top: 10px;
      }

    }
  }
  .modalimg{
    width: 18%;
    margin-top: 6%;
  }


}




.modalimg{
  width: 18%;
}
.modaltext{
  width: 60%;

  display: initial;
      position: absolute;
      padding-top: 2%;
      margin-left: 4%;}

.creditauth{
  h4{
    font-weight: 100;
    text-align: center;
  }
  h5{
    text-align: center;

  }
  a{
    font-size: 3.5em;
    text-decoration: none;
    color: #37474f;
  }
}

.creditinfo{
  padding-top: 30px;
  background-color: #FF4136;
  color: #001F3F;
  width: 100%;
  padding-bottom: 100px;
  h2{
    border-bottom: 2px solid #001F3F;
    padding-bottom: 10px;
  }
  a{
    color:#001F3F;
    text-decoration: underline;

  }

}
.circlebg{
  background-color: #001F3F;
  width: 70px;
  height: 70px;
  border-radius: 55px;
  a{
    position: absolute;;
    font-size: 2.5em;
    text-align: center;
    padding-top:7px;
    padding-left: 16px;
    transition: all .1s ease-in;
    color: white;

  }
  a:hover{
    color: #FF4136;
    transition: all .1s ease-in;


  }
}
.toast{
  background-color: white;
  color:black;
}
#shell{
  position: absolute;
  width: 14%;
  z-index: 10;
  margin-left: 40%;
  margin-top: 7%;

}
@media only screen and (max-width: 800px) {
  #shell{
    position: absolute;
    width: 34%;
    z-index: 10;
    margin-left: 120px;
    margin-top: 100px;

  }
}


.sperator{
  border-top: 1px solid rgba(160, 160, 160, 0.2);

}
.cardup{
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 1s;



}
.homebg{
width: 100%; height: 100%;
  position: absolute; top: 20px; left: 0;
}
.vhome{
  width: 100%;
  height: inherit;
}
.homeimg{
margin: 0 auto;
  -webkit-filter: drop-shadow(1px 2px 2px );
  z-index: 10;
  cursor: pointer;
}
.homebg2{
  position: absolute;
  width: 100%
}
.collegename{
  color: white;
  width: 100%;

  text-transform: uppercase;
  margin-top: 20%;
  text-align: center;
  letter-spacing: 4px;
}


@media only screen and (max-width: 800px) {
  .homeimg{
    margin-left: 5%;
    width: 90%;
    margin-top: 5%;
  }
  .collegename{
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 43%;

  }


}

.fa-instagram{
  color:black;
  transition: all .2s ease-in-out;


}
.fa-instagram:hover{
  color:#743C08;
  transition: all .2s ease-in-out;

}
.abtcards{
  min-height: 480px;
}


.head1{
  border-left: 2px solid black;
}
.head2{
  border-left: 2px solid black;

}

