<div class="ticketbg">
<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col s12 m10 l10 push-l1">
      <h4 style="color:white;font-weight:100;">TICKET</h4>
        <div class="card-panel white">
          <div class="row">
            <div class="col s12 l4">
              <br>
              <div id="qr">
               <img><%= raw @qr.as_svg %></img>
              </div>
            </div>
            <div id="qrtext"class="col s12 l8">
              <h5 style="color:#c62828">YOUR TICKET FOR </h5>
              <h2 class="ticketissue" style="color:#424242">NAUTILUS 2K16</h2>
              <div class="ticinfo">

              <p style="color:#c62828;display:inline;"><i  class="fa fa-calendar-check-o" style="padding-left:10px;"
              ></i> April 8,9 <span class="iconfisatloc"><i class="fa fa-map-marker"></i> FISAT</span></p>
              <h3 id="ticketname"style="text-transform:uppercase;font-weight:500;color:#424242"><%= current_user.name %></h3>
              <div class="row">
                <div class="col l3"   >
                  <h5 style="font-weight:100">EVENTS:</h5>
                </div>
                <div class="col l9">
                  <ol style="color:#424242">
                    <div id="registered_events">
                    <%@registered_events.each do |event|%>
                      <li><%=event.name%><%= link_to '<i class="fa fa-times"></i>  Unregister'.html_safe, programme_path(event), class: 'eventdel',remote: true ,method: :delete,data: { confirm: 'Are you sure?'} %>

                    <%end%>
                    </div>
                  </ol>
                  
                </div>
              </div>
              </div>

            </div>
          </div>
      </div>
    </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m5 l10 push-l1">
      <h4 style="color:white;font-weight:100;">RULES</h4>
        <div class="card-panel white">
          <div class="row rules">
            <div class="container">
              <ul>
                <li>Identity card is compulsory at the time of registeration. </li>
              </ul>
            </div>


          </div>
      </div>
    </div>
</div>
</div>
