<!DOCTYPE html>
<html>
  <head>
    <title>Nautilus</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "materialize" %>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "ripple" %>
    <%= stylesheet_link_tag "animate" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'wow.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'tracer', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'awesomplete', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'materialize', 'data-turbolinks-track' => true %>


    <%= csrf_meta_tags %>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

  </head>
  <body>
    <% if params[:action] == 'new' or params[:action] == 'info' %>
    <div class="navhead  indigo darken-4">
      <% elsif params[:controller] == 'profile' %>
      <div class="navhead" style="background-color:#c6603c">
      <% else %>
        <div class="navhead <%= @color1%>" >
          <% end %>

        </div>
        <ul id="dropdown1" class="dropdown-content">
          <li><%= link_to "TICKET", profile_path %></li>
          <li class="divider"></li>
          <li>
            <%= link_to('LOGOUT', destroy_user_session_path, :method => :delete) %></li>
        </ul>
        <ul id="dropdown2" class="dropdown-content">
          <li><%= link_to "TICKET", profile_path %></li>
          <li class="divider"></li>
          <li>
            <%= link_to('LOGOUT', destroy_user_session_path, :method => :delete) %></li>
        </ul>

        <nav>
          <% if params[:action] == 'new' or params[:action] == 'info' %>
          <div class="nav-wrapper indigo darken-3">
            <% elsif params[:controller] == 'profile' %>
            <div class="nav-wrapper" style="background-color:#e57751">

            <% else %>
              <div class="nav-wrapper <%= @color %>">
                <% end %>

                <a class="brand-logo" style="font-weight:700;" href="#!"><%= image_tag "logomain.png", class: "logomain" %></a>
                <ul class="right hide-on-med-and-down">
                  <li class="<%= 'active' if params[:action] == 'home' %>">
                    <%= link_to "HOME", root_path %>
                  </li>
                  <li class="<%= 'active' if params[:action] == 'index' %>">
                    <%= link_to "EVENT", programmes_path %>
                  </li>
<!--                   <li class="<%= 'active' if params[:action] == 'schedule' %>">
                    <%= link_to "SCHEDULE", schedule_path %>
                  </li>
 --><!--                   <li class="<%= 'active' if params[:action] == 'result' %>">
                    <%= link_to "RESULT", result_path %>
                  </li>
 -->                  <li class="<%= '' if params[:action] == 'about' %>">
                    <%= link_to "ABOUT", about_path %>
                  </li>
                  <% if user_signed_in? %>
                  <li>
                    <a style="text-transform:uppercase;" class="dropdown-button" href="#!" data-activates="dropdown1"><%= current_user.name %>
                      <i class="fa fa-angle-down"></i>
                    </a>
                  </li>
                <% else %>
                  <li class="<%= 'active' if params[:controller] == 'devise/sessions' %>">
                    <%= link_to('LOGIN', new_user_session_path)  %>
                  </li>
                  <li class="<%= 'active' if params[:action] == 'new' %>">
                  <li><%= link_to('SIGN UP', new_user_registration_path) %></li>
                </li>
                <% end %>

              </ul>
              <ul id="slide-out" class="side-nav">
                <% if user_signed_in? %>
                <li>
                  <a style="text-transform:uppercase;" class="dropdown-button" href="#!" data-activates="dropdown2"><%= current_user.name %>
                    <i class="fa fa-angle-down"></i>
                  </a>
                </li>
              <% else %>
                <li class="<%= 'active' if params[:controller] == 'devise/sessions' %>">
                  <%= link_to('LOGIN', new_user_session_path)  %>
                </li>
                <li class="<%= 'active' if params[:action] == 'new' %>">
                <li><%= link_to('SIGN UP', new_user_registration_path) %></li>
              </li>
              <% end %>

              <li class="<%= 'active' if params[:action] == 'home' %>">
                <%= link_to "HOME", root_path %>
              </li>
              <li class="<%= 'active' if params[:action] == 'index' %>">
                <%= link_to "EVENT", programmes_path %>
              </li>
<!--               <li class="<%= 'active' if params[:action] == 'schedule' %>">
                <%= link_to "SCHEDULE", schedule_path %>
              </li> -->

              <li class="<%= '' if params[:action] == 'about' %>">
              </li>
              <li class="<%= 'active' if params[:action] == 'about' %>">
                <%= link_to "ABOUT", about_path %>
              </li>

<!--           <li class="<%= 'active' if params[:action] == 'result' %>">
            <%= link_to "RESULT", result_path %>
          </li> -->

            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse">
              <i class="fa fa-bars white-text"></i>
            </a>
          </div>
        </nav>

        <%= yield %>

        <script type="text/javascript" id="notice" class="notice">
          Materialize.toast('<%= notice %>', 2000)
        </script>
        <script type="text/javascript" id="alert" class="alert">
          Materialize.toast('<%= alert %>', 2000)
        </script>
        <script type="text/javascript">

          $('select').material_select();
          $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
          });
          $(document).ready(function () {
            // $('#Capa_1').svgTracer().svgTracer('play') $('#Capa_12').svgTracer().svgTracer('play')
            $(".activator").hover(function () {
              $(this).svgTracer({duration: '3s'}).svgTracer('play');
            })
            $(".awards").hover(function () {
              $(this).svgTracer({duration: '3s'}).svgTracer('play');
            })
            $(".loginsvg").svgTracer({duration: '3s'}).svgTracer('play');
            $(".result_user").svgTracer({duration: '6s'}).svgTracer('play');

          });
        </script>

        <% if params[:action] == 'new' or params[:action] == 'info' %>
        <script type="text/javascript">
          var input = document.getElementById("myinput");
          new Awesomplete(input, {
            list: [
              "COLLEGE OF ENGINEERING TRIVANDRUM (TVE)",
              "COLLEGE OF FOOD TECHNOLOGY,THUMBURMUZHY,CHALAKKUDY (CFT)",
              "GOVERNMENT ENGINEERING COLLEGE,WAYANAD (WYD)",
              "GOVT.COLLEGE OF ENGINEERING,KANNUR (KNR)",
              "GOVT.ENGINEERING COLLEGE BARTON HILL,TVM (TRV)",
              "GOVT.ENGINEERING COLLEGE,KOZHIKKODE (KKE)",
              "GOVT.ENGINEERING COLLEGE,PAINAVU,IDUKKI (IDK)",
              "GOVT.ENGINEERING COLLEGE,SREEKRISHNAPURAM,PALAKKAD (PKD)",
              "GOVT.ENGINEERING COLLEGE,THRISSUR (TCR)",
              "GOVT.RAJIV GANDHI INSTITUTE OF TECHNOLOGY,KOTTAYAM (KTE)",
              "KELAPPAJI COLLEGE OF AGRICULTURAL ENGINEERING AND TECHNOLOGY,TAVANUR (KCT)",
              "MAR ATHANASIUS COLLEGE OF ENGINEERING,KOTHAMANGALAM (MAC)",
              "N S S COLLEGE OF ENGINEERING,PALAKKAD (NSS)",
              "T K M COLLEGE OF ENGINEERING,KOLLAM (TKM)",
              "COLLEGE OF ENGINEERING AND MANAGEMENT PUNNNAPRA (PRP)",
              "COLLEGE OF ENGINEERING KIDANGOOR (KGR)",
              "COLLEGE OF ENGINEERING OF ARANMULA (AEC)",
              "COLLEGE OF ENGINEERING PATHANAPURAM,KOLLAM (PEC)",
              "COLLEGE OF ENGINEERING PERUMON,KOLLAM (PRN)",
              "COLLEGE OF ENGINEERING,ADOOR (ADR)",
              "COLLEGE OF ENGINEERING,ATTINGAL,THIRUVANANTHAPURAM. (CEA)",
              "COLLEGE OF ENGINEERING,CHENGANNUR,ALAPPUZHA. (CHN)",
              "COLLEGE OF ENGINEERING,CHERTHALA,PALLIPPURAM,ALAPPUZHA. (CEC)",
              "COLLEGE OF ENGINEERING,KALLOOPPARA,PATHANAMTHITTA. (PTA)",
              "COLLEGE OF ENGINEERING,KARUNAGAPPALLY,KOLLAM. (KNP)",
              "COLLEGE OF ENGINEERING,KOTTARAKKARA,KOLLAM. (CEK)",
              "COLLEGE OF ENGINEERING,MUNNAR (MNR)",
              "COLLEGE OF ENGINEERING,POONJAR,KOTTAYAM. (PJR)",
              "COLLEGE OF ENGINEERING,THALASSERY,KANNUR. (TLY)",
              "COLLEGE OF ENGINEERING,TRIKARIPUR,KASARAGOD. (TKR)",
              "COLLEGE OF ENGINEERING,VADAKARA,KOZHIKODE (VDA)",
              "INSTITUTE OF ENGINEERING AND TECHNOLOGY,CALICUT UNIVERSITY (UCC)",
              "LBS COLLEGE OF ENGINEERING,KASARAGOD (KSD)",
              "LBS INSTITUTE OF TECH.FOR WOMEN,POOJAPPURA,TVM (LBT)",
              "MODEL ENGINEERING COLLEGE,THRIKKAKKARA,ERNAKULAM (MDL)",
              "S C T COLLEGE OF ENGINEERING,PAPPANAMCODE,TVM (SCT)",
              "UNIVERSITY COLLEGE OF ENGINEERING,KARIAVATTOM,TVM (UCK)",
              "UNIVERSITY COLLEGE OF ENGINEERING,THODUPUZHA (UCE)",
              "ACE COLLEGE OF ENGINEERING (MHP)",
              "ADI SHANKARA INSTITUTE OF ENGINEERING AND TECH (ASI)",
              "AHALIA SCHOOL OF ENGINEERING AND TECHNOLOGY (ATP)",
              "AL - AMEEN ENGINEERING COLLEGE (AAP)",
              "AL - AZHAR COLLEGE OF ENGINEERING AND TECHNOLOGY (AAE)",
              "ALBERTIAN INSTITUTE OF SCIENCE AND TECHNOLOGY,KALAMASSERY,KOCHI (AIK)",
              "AMAL JYOTHI COLLEGE OF ENGINEERING (AJC)",
              "AMMINI COLLEGE OF ENGINEERING (AME)",
              "ARCHANA COLLEGE OF ENGINEERING (ACE)",
              "ARYANET INSTITUTE OF TECHNOLOGY,VADAKKENTE KADU,MUNDUR,PALAKKAD (ANE)",
              "AWH ENGINEERING COLLEGE,KOZHIKKODE (AWH)",
              "AXIS COLLEGE OF ENGINEERING AND TECHNOLOGY,THRISSUR (AXE)",
              "BASELIOS MATHEWS II COLLEGE OF ENGG.,SASTHAMCOTTA,KOLLAM (BMC)",
              "BASELIOS THOMAS I CATHOLICOSE COLLEGE OF ENGINEERING AND TECHNOLOGY (BTE)",
              "BELIEVERS CHURCH CAARMEL ENGINEERING COLLEGE (CML)",
              "BISHOP JEROME INSTITUTE,FATHIMA COLLEGE ROAD,KOLLAM (BJK)",
              "CARMEL COLLEGE OF ENGINEERING AND TECHNOLOGY,ALAPPUZHA (CMA)",
              "CHRIST COLLEGE OF ENGINEERING,IRINJALAKUDA,THRISSUR (CCE)",
              "CHRIST KNOWLEDGE CITY (CKC)",
              "COCHIN COLLEGE OF ENGINEERING AND TECHNOLOGY,VALANCHERY,MALAPPURAM (CCV)",
              "COCHIN INSTITUTE OF SCIENCE AND TECHNOLOGY MUVATTUPUZHA,ERNAKULAM (CIM)",
              "COLLEGE OF ENGINEERING AND TECHNOLOGY - PAYYANNUR (CEN)",
              "ERANAD KNOWLEDGE CITY TECHNICAL CAMPUS (EKC)",
              "FEDERAL INSTITUTE OF SCIENCE AND TECHNOLOGY (FIT)",
              "FOCUS INSTITUTE OF SCIENCE AND TECHNOLOGY,THRISSUR (FOP)",
              "GURUDEVA INSTITUTE OF SCIENCE AND TECHNOLOGY (GIT)",
              "HEERA COLLEGE OF ENGINEERING AND TECHNOLOGY (HCE)",
              "HINDUSTAN COLLEGE OF ENGINEERING,ARIPPA,CHOZHIYAKODE P.O.,KULATHUPUZHA,KOLLAM (HKE)",
              "HOLY GRACE ACADEMY OF ENGINEERING,MALA,KURUVILASSERI P O,THRISSUR. (HGW)",
              "HOLY KINGS COLLEGE OF ENGINEERING AND TECHNOLOGY (HKC)",
              "I E S COLLEGE OF ENGINEERING,CHITTILAPPILLY,THRISSUR. (IES)",
              "ILAHIA COLLEGE OF ENGINEERING TECH.,MULAVOOR,MOOVATTUPUZHA,ERNAKULAM. (ICE)",
              "ILAHIA SCHOOL OF SCIENCE AND TECHNOLOGY,PEZHAKKAPILLY.P.O,MUVATTUPUZHA (ICT)",
              "ILM COLLEGE OF ENGINEERING PERUMBAVOOR,ERNAKULAM (ILE)",
              "INDIRA GANDHI INSTITUTE OF ENGINEERING AND TECHNOLOGY FOR WOMEN (IGW)",
              "JAI BHARATH COLLEGE OF MANAGEMENT AND ENGINEERING TECHNOLOGY (JBT)",
              "JAWAHARLAL COLLEGE OF ENGINEERING AND TECHNOLOGY (JCE)",
              "JOHN COX MEMORIAL C S I INSTITUTE OF TECHNOLOGY (JIT)",
              "JYOTHI ENGINEERING COLLEGE,CHERUTHURUTHY,THRISSUR (JEC)",
              "K M E A ENGINEERING COLLEGE,EDATHALA,COCHIN (KME)",
              "K R GOURI AMMA COLLEGE OF ENGINEERING FOR WOMEN (GWE)",
              "KMCT COLLEGE OF ENGINEERING (KMC)",
              "KMCT COLLEGE OF ENGINEERING FOR WOMEN (KMW)",
              "KMP COLLEGE OF ENGINEERING (KMP)",
              "KOTTAYAM INSTITUTE OF TECHNOLOGY AND SCIENCE (KIT)",
              "KVM COLLEGE OF ENGINEERING AND INFORMATION TECHNOLOGY (KVE)",
              "LOURDES MATHA COLLEGE OF SCIENCE AND TECHNOLGY (LMC)",
              "M E A ENGINEERING COLLEGE,PERINTHALMANNA,VENGOOR (MEA)",
              "M E S COLLEGE OF ENGINEERING,KUTTIPPURAM. (MES)",
              "M G COLLEGE OF ENGINEERING,THIRUVALLM,THIRUVANANTHAPURAM. (MGC)",
              "M.DASAN INSTITUTE OF TECHNOLOGY,ULLIYERI P.O,KOZHIKODE (DMC)",
              "MALABAR COLLEGE OF ENGINEERING AND TECHNOLOGY (MEC)",
              "MALABAR INSTITUTE OF TECHNOLOGY,ANJARAKANDI,KANNUR. (MLT)",
              "MANGALAM COLLEGE OF ENGINEERING,ETTUMANOOR,KOTTAYAM (MLM)",
              "MAR BASELIOS CHRISTIAN COLLEGE OF ENGG AND TECH (MBC)",
              "MAR BASELIOS COLLEGE OF ENGINEERING AND TECHNOLOGY (MBT)",
              "MAR BASELIOS INSTITUTE OF TECHNOLOGY AND SCIENCE (MBI)",
              "MARIAN ENGINEERING COLLEGE,KAZHAKUTTOM,TVM (MCE)",
              "MATHA COLLEGE OF TECHNOLOGY,MANAKAPPADI,NORTH PARAVUR,ERNAKULAM (MTA)",
              "MES COLLEGE OF ENGINEERING AND TECHNOLOGY,KUNNUKARA,NORTH PARAVUR,ERNAKULAM. (MEE)",
              "MES INSTITUTE OF TECHNOLOGY AND MANAGEMENT (MEK)",
              "METS SCHOOL OF ENGINEERING,MALA (MET)",
              "MOHANDAS COLLEGE OF ENGINEERING AND TECHNOLOGY (MCT)",
              "MOOKAMBIKA TECHNICAL CAMPUS,MUVATTUPUZHA,ERNAKULAM (MKE)",
              "MOUNT ZION COLLEGE OF ENGG.,PATHANAMTHITTA (MZC)",
              "MOUNT ZION COLLEGE OF ENGINEERING FOR WOMEN,KOZHUVALLOOR (MZW)",
              "MUSALIAR COLLEGE OF ENGINEERING AND TECHNOLOGY (MCK)",
              "MUSALIAR COLLEGE OF ENGINEERING,CHIRAYINKIL,TRIVANDRUM. (MCC)",
              "MUSLIM ASSOCIATION COLLEGE OF ENGINEERING,VENJARAMOODU,THIRUVANANTHAPURAM. (MUS)",
              "MUTHOOT INSTITUTE OF TECHNOLOGY AND SCIENCE,ERNAKULAM (MUT)",
              "NEHRU COLLEGE OF ENGINEERING AND RESEARCH CENTRE (NCE)",
              "NIRMALA COLLEGE OF ENGINEERING,KUNNAPPILLY PO,MELOOR,CHALAKUDY,THIRISSUR (NIE)",
              "NORTH MALABAR INSTITUTE OF TECHNOLOGY,KANHANGAD (NML)",
              "P A AZIZ COLLEGE OF ENGINEERING ANDTECHNOLOGY (PAA)",
              "PANKAJAKASTHURI COLLEGE OF ENGINEERING AND TECHNOLOGY (PKE)",
              "PINNACLE SCHOOL OF ENGINEERING AND TECHNOLOGY (PNC)",
              "PRIME COLLEGE OF ENGINEERING (PCE)",
              "PROVIDENCE COLLEGE OF ENGINEERING,CHENGANNUR (PRC)",
              "PRS COLLEGE OF ENGINEERING AND TECHNOLOGY (PRS)",
              "RAJADHANI INSTITUTE OF ENGINEERING AND TECHNOLOGY (RIE)",
              "RAJAGIRI SCHOOL OF ENGINEERING AND TECHNOLOGY (RET)",
              "ROYAL COLLEGE OF ENGINEERING AND TECHNOLOGY (RCE)",
              "SADGURU SWAMI NITHYANANDA INSITITUTE OF TECHNOLOGY (SGT)",
              "SAHRDAYA COLLEGE OF ENGINEERING AND TECHNOLOGY (SHR)",
              "SAINTGITS COLLEGE OF ENGINEERING,PATHAMUTTOM,KOTTAYAM (MGP)",
              "SARABHAI INSTITUTE OF SCIENCE AND TECHNOLOGY (SIT)",
              "SCMS SCHOOL OF ENGINEERING AND TECHNOLOGY (SCM)",
              "SHAHUL HAMEED MEMORIAL ENGINEERING COLLEGE,KADAKKAL,KOLLAM (SHM)",
              "SNM INSTITUTE OF MANAGEMENT AND TECHNOLOGY (SNM)",
              "SREE BUDDHA COLLEGE OF ENGINEERING FOR WOMEN,AYATHIL,ELAVUMTHITTA,PATHANAMTHITTA (SBW)",
              "SREE BUDDHA COLLEGE OF ENGINEERING,PATTOOR,PATTOOR.P O,PADANILAM,NOORANAD,ALAPPUZHA. (SBC)",
              "SREE ERNAKULATHAPPAN COLLEGE OF ENGINEERING AND MANAGEMENT (ECE)",
              "SREE NARAYANA GURU COLLEGE OF ENGINEERING AND TECH (SNC)",
              "SREE NARAYANA GURU INSTITUTE OF SCIENCE AND TECHNOLOGY (SNT)",
              "SREE NARAYANA GURUKULAM COLLEGE OF ENGINEERING,KOLENCHERRY,KADAYIRUPPU P O,ERNAKULAM. (SNG)",
              "SREE NARAYANA INSTITUTE OF TECHNOLOGY,ADOOR (SNP)",
              "SREEPATHY INSTITUTE OF MANAGEMENT AND TECHNOLOGY (SPT)",
              "SRI VELLAPPALLY NATESAN COLLEGE OF ENGINEERING (VPE)",
              "ST JOSEPHS COLLEGE OF ENGINEERING AND TECHNOLOGY PALAI (SJC)",
              "ST THOMAS COLLLEGE OF ENGINEERING AND TECHNOLOGY (STC)",
              "ST.THOMAS INSTITUTE FOR SCIENCE AND TECHNOLOGY (STI)",
              "ST.GREGORIOS COLLEGE OF ENGINEERING,KASARGOD (SGP)",
              "ST.THOMAS COLLEGE OF ENGINEERING AND TECHNOLOGY,KANNUR (STM)",
              "T K M INSTITUTE OF TECHNOLOGY,EZHUKONE,KOLLAM (TKI)",
              "THEJUS ENGINEERING COLLEGE (TJE)",
              "TOC H INSTITUTE OF SCIENCE AND TECHNOLOGY (TOC)",
              "TOMS COLLEGE OF ENGINEERING FOR STARTUPS (TCE)",
              "TRAVANCORE ENGINEERING COLLEGE,OYOOR,KOLLAM (TEC)",
              "TRINITY COLLEGE OF ENGINEERING,TRIVANDRUM (TCT)",
              "UKF COLLEGE OF ENGINEERING AND TECHNOLOGY (UKP)",
              "UNIVERSAL ENGINEERING COLLEGE,KONATHUKUNNU,KODUNGALLUR,THRISSUR. (UNT)",
              "VALIA KOONAMBAIKULATHAMMA COLLEGE OF ENGINEERING AND TECHNOLOGY PARIPPALLY P O THIRUVANANTHAPURAM (VKE)",
              "VEDA VYASA INSTITUTE OF TECHNOLOGY,PONNEMPADAM P O,KARADPARAMBA,MALAPPURAM. (VVT)",
              "VIDYA ACADEMY OF SCIENCE AND TECHNOLOGY (VAS)",
              "VIDYA ACADEMY OF SCIENCE AND TECHNOLOGY,TECHNICAL CAMPUS (VAK)",
              "VIJNAN INSTITUTE OF SCIENCE AND TECHNOLOGY - VISAT - ELANJI (VIT)",
              "VIMAL JYOTHI ENGINEERING COLLEGE,CHEMPERI,KANNUR (VML)",
              "VISWAJYOTHI COLLEGE OF ENGINEERING AND TECHNOLOGY (VJC)",
              "YOUNUS COLLEGE OF ENGINEERING,THALACHIRA P O,KOTTARAKKARA,KOLLAM. (YCW)",
              "YOUNUS COLLEGE OF ENGINEERING AND TECHNOLOGY (YCE)",
              "YOUNUS INSTITUTE OF TECHNOLOGY,KANNANALOOR (YCK)"
            ]

          });
        </script>
        <% end %>
        <% if params[:action] == 'index' %>
        <script type="text/javascript">
          if (sessionStorage["PopupShown"] != 'yes') {

            $('#modal1').openModal({
              dismissible: true,
              complete: function () {
                sessionStorage["PopupShown"] = 'yes'; //Save in the sessionStorage if the modal has been shown

              } // Callback for Modal close

            });
          }
        </script>
        <% end %>
        <% if params[:action] == 'home' %>
        <script type="text/javascript">
          if (sessionStorage["PopupShown1"] != 'yes') {

            $('#modal2').openModal({
              dismissible: true,
              complete: function () {
                sessionStorage["PopupShown1"] = 'yes'; //Save in the sessionStorage if the modal has been shown

              } // Callback for Modal close

            });
          }
          setTimeout(function() {  $('#modal2').closeModal();}, 2000);

        </script>
        <% end %>
        <% if params[:action] == 'home' %>



          <script type="text/javascript">
          var requestAnimFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
            window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;

          var sound = document.getElementById('sound'),
            audioCtx = new AudioContext(),
            source = audioCtx.createMediaElementSource(sound),
            analyser = audioCtx.createAnalyser(),
            frequencyData = new Uint8Array(analyser.frequencyBinCount);

          var visualizer = document.getElementById('visualizer'),
            canvas = document.querySelector('#visualizer > canvas'),
            ctx = canvas.getContext('2d'),
            canvasWidth = canvas.width,
            canvasHeight = canvas.height;

          var freqs = [60, 90, 130, 225, 320, 453, 640, 900, 1300, 1800, 2500, 3000, 4500, 6000, 8000, 10000, 12000, 14000, 15000, 16000];

          sound.crossOrigin = "anonymous";

          function start() {
            analyser.getByteFrequencyData(frequencyData);
            ctx.clearRect(0, 0, canvasWidth, canvasHeight);

            for (var i = 0; i < freqs.length; i++) {
              ctx.beginPath();
              ctx.moveTo(i * (canvasWidth * 8) / 100, 300);
              ctx.lineTo(i * (canvasWidth * 8) / 100, 240 - freq(freqs[i]));
              ctx.lineWidth = (canvasWidth * 8) / 100;
              ctx.strokeStyle = "#fff";
              ctx.stroke();
            }

            requestAnimFrame(start);
          }

          function freq(frequency) {
            var nyquistFreq = audioCtx.sampleRate / 2;
            var visualFreq = Math.round(frequency / nyquistFreq * frequencyData.length);

            return frequencyData[visualFreq] - 75;
          }

        // Code from lines 46 - 70 I copied from the Johan Karlsson work
        // http://codepen.io/DonKarlssonSan/pen/vOXLMr

          function url(url, callback) {
            var request = new XMLHttpRequest();
            request.onreadystatechange = function() {
              if (request.readyState == 4 && request.status == 200) {
                callback(request.responseText);
              }
            }

            request.open("GET", url, true);
            request.send(null);
          }

          var clientParameter = "client_id=e1f3481c95793a8d59ed18a5ea451af3"

          var trackPermalinkUrl =
            "https://soundcloud.com/govind-53845862/nautilus-theme-website-purpose";

          function setSrc() {
            url("http://api.soundcloud.com/resolve.json?url=" + trackPermalinkUrl + "&" + clientParameter,
              function(response) {
                var trackInfo = JSON.parse(response);
                sound.src = trackInfo.stream_url + "?" + clientParameter;
              }
            );
          };

          source.connect(analyser);
          analyser.connect(audioCtx.destination);
          setSrc();
          start();

        var playing = true;
        document.getElementById('stopsound').onclick=function(){
          if (playing == true)
          {
              document.getElementById('sound').pause()
            playing = false;

          }else {
              document.getElementById('sound').play()
            playing = true;
          }
        };


          </script>
          <% end %>

      </body>
    </html>
