<!DOCTYPE html>
<html>
  <head>
    <title>Nautilus</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "materialize" %>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "animate" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'materialize', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

  </head>
  <body>
    <%= yield %>


      </body>
    </html>
